.fc-direction-ltr {
  padding-bottom: 2.5rem;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

/* 스크롤바 제거 */
.fc-scroller {
  overflow: hidden !important;
}

.fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

/* 전체 캘린더 컨테이너 스크롤바 제거 */
.calendar-container {
  overflow: hidden;
}

.calendar-container * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.calendar-container *::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard th,
.fc-theme-standard td {
  border: none;
  font-weight: bold;
  font-size: 12px;
}

/* 요일 */
.fc-theme-standard th {
  background-color: #f8fafc;
  /* surface-base */
}

.fc-daygrid-day-events {
  display: none;
}

/* 오늘 날짜 */
.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}

/* 이웃달 날짜 */
.fc .fc-day-disabled {
  background-color: transparent;
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* 터치 이벤트 최적화 */
.fc-daygrid-body {
  touch-action: pan-y;
}

.fc-daygrid-day {
  position: relative;
}

.fc-daygrid-day-number {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #e4e4e7;
  /* zinc 200 */

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: auto;
  cursor: pointer;
}

.fc-daygrid-day-number:hover {
  background-color: #d4d4d8;
  /* zinc 300 */
}

.fc-daygrid-day.selected .fc-daygrid-day-number,
.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  background-color: #10b981;
  color: white;
}

/* 라벨 공통 */
.fc-daygrid-day.selected::after,
.fc-daygrid-day.fc-day-today::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  padding: 1px 0;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  pointer-events: none;
  z-index: 4;
}

.fc-daygrid-day.selected::after {
  content: "선택";
  background: #262C33;
  color: #fff;
}

.fc-daygrid-day.fc-day-today::after {
  content: "오늘";
  background: #d1fae5;
}

/* 오늘 선택시 라벨 */
.fc-daygrid-day.fc-day-today.selected::after {
  background: #262C33;
  color: #fff;
}

[class*="emotion-"] .fc-daygrid-day-number {
  visibility: hidden;
}

[class*="emotion-"]:hover {
  opacity: 0.7;
}

[class*="emotion-"] {
  position: relative;
}

[class*="emotion-"]::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  pointer-events: auto;
  cursor: pointer;
}

.emotion-good::before {
  background-image: url("/good-on.svg");
}

.emotion-bad::before {
  background-image: url("/bad-on.svg");
}

.emotion-soso::before {
  background-image: url("/soso-on.svg");
}

.emotion-great::before {
  background-image: url("/great-on.svg");
}

.emotion-appreciate::before {
  background-image: url("/appreciate-on.svg");
}